
/* global */
[data-hide = true]{
	 display: none;
}
.poker-1,
.poker-3 {
	color: red;
}

.pokers span {
	display: inline-block;
	font-size: 20px;
	margin: 10px 5px;
	padding: 10px 5px;
	border: 1px solid black;
	border-radius: 5px;
	animation: 1s pokerReverse ease-in;
	backface-visibility: hidden;
}

@keyframes pokerReverse {
	from {
		transform: rotateY(-90deg);
	}
	to {
		transform: rotateY(0deg);
	}
}

.folded {
	background: #C4C4C4;
	color: black;
}


/* back */

.back {
	display: block;
	font-size: 30px;
	position: absolute;
	left: 0;
	top: 0;
	margin: 10px;
	padding: 5px 8px;
	box-shadow: 5px 5px 3px #888888;
	border-radius: 5px;
	cursor: pointer;
}

.back:hover {
	
}

.back:active {
	transform: translate(2px, 2px);
}

/* signup */
.signUp {
	display:none;
	text-align: center;
	margin-top: 300px;
}
.signUp input{
	padding-left: 10px;
	height: 40px;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	box-shadow: 5px 5px 2px #48576A;
	font-size: 30px;
}
.signUp button{
	height: 40px;
	border: 0;
	border-radius: 10px;
	box-shadow: 5px 5px 2px #48576A;
	font-size: 30px;
	color: white;
	background-color: cornflowerblue;
	cursor: pointer;
}
/* login */

.login {
	text-align: center;
	margin-top: 300px;
}

.login>p,
.login label {
	margin: 20px;
	font-size: 20px;
	font-weight: 700;
}

.login input {
	padding-left: 10px;
	height: 40px;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	box-shadow: 5px 5px 2px #48576A;
	font-size: 30px;
}

.login button {
	height: 40px;
	border: 0;
	border-radius: 10px;
	box-shadow: 5px 5px 2px #48576A;
	font-size: 30px;
	color: white;
	background-color: cornflowerblue;
	cursor: pointer;
}
.login button:active{
	transform:translate(2px, 2px);
	box-shadow: 5px 5px 1px #48576A;
}


/* hall */

.hall {
	display: none;
	margin-top: 200px;
}

.hall h2 {
	font-size: 40px;
	text-align: center;
	margin: 20px;
}

.hall-list {
	display: flex;
	justify-content: center;
}

.hall-room {
	padding: 20px;
	font-size: 12px;
	font-weight: 300;
	border: solid 1px #C4C4C4;
	border-radius: 5px;
	text-align: center;
	transition: opacity 300ms ease-in-out;
	opacity: 0.4;
}

.hall-room:hover {
	opacity: 1;
	cursor: pointer;
}

.hall-room.gaming {
	background-color: #C4C4C4;
}

.hall-room.wating {
	background-color: #F7F7F7;
}

.hall-title {
	font-weight: 500;
	font-size: px;
}

.hall-abstract {
	font-weight: 300;
	color: #32353E;
	font-size: 20px;
}

.hall-players {
	font-size: 10px;
}

.hall-players:after {
	content: '人'
}

.hall-state {
	font-size: 10px;
}


/*stage*/

.stage {
	margin: 0 auto;
	margin-top: 200px;
	display: none;
	
}
.stage-wrap {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	justify-content: center;
	
}

.stage-players {
	display: flex;
	position:relative;
}

.stage-players>div {
	margin: 10px;
}
/* player */

.stage-players [data-role = host]:before {
	position: absolute;
	content: '房主';
	color:gold;
	font-weight: 700;
	font-size: 15px;
	border:2px solid gold;
	transform: rotate(-45deg) translate(-20px, -5px);
	opacity: 0.4;
}
.stage-players [data-ready = true]:after{
	position:absolute;
	content: 'READY';
	color:red;
	font-weight: 700;
	font-size: 20px;
	border:2px solid red;
	transform:  translate(30%, -30%);
	opacity: 0.8;
}
.stage-players [data-cur = true]{
	border: 2px solid gold;	
}
.stage-players .self {
	position: absolute;
	border: 2px solid red;
	color: red;
	font-family: "微软雅黑";
	font-weight: 700;
	font-size: 15px;
	opacity: 0.5;
	z-index:-1;
	transform: rotate(-45deg) translate(-20%, 30%);	
}
.stage-banker {
	display: flex;
	justify-content: center;
}

.stage-banker>div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stage-players {
	border: 1px solid #C4C4C4;
	display: flex;
	justify-content: center;
}
.stage-player {
	
}

.stage-askBlock {
	justify-content: center;
	border: 1px solid black;
	border-radius: 5px;
	flex-direction: column;
	align-items: center;
}
/*
.stage-table {
	position: relative;
	display: flex;
	background: green;
	border-radius: 10px;
	height: 200px;
	width: 500px;
}

.stage-table>div {
	flex: 1;
}*/

.stage-select {
	display: flex;
}

.stage-btn {
	flex: 1;
	border: 0;
	color:white;
	font-size:20px;
	background-color: #48576A;
	cursor:pointer;
}
.stage-startBtn, 
.stage-startBtn.disable {  
	height: 30px;
	font-size: 20px;
	font-weight: 400;
	width: 500px;
	text-align: center;
	background: black;
	color: white;
	border: 0;
	cursor:pointer;
}
.stage-startBtn.disable {
	color: black;
	background: #DCDCDC;
	opacity: 0.4;
	cursor: not-allowed;
}


/*chip field*/

.chipField {}


/*chip*/

.droppedChip {
	position: absolute;
	height: 20px;
	width: 20px;
	transform: rotateX(-45deg);
	border-radius: 50%;
	color: black;
	background-color: mediumspringgreen;
	border: 2px solid red;
	text-align: center;
	line-height: 20px;
	transition: all 1s ease-in-out;
	top: 0;
}

.dropping {
	animation: 1s dropping ease-in-out forwards;
}

.getting {
	/*animation:1s getting ease-in-out forwards;*/
	top: 200px;
	animation: 1.5s getting ease-in-out forwards;
}


/*drop animate*/

@keyframes dropping {
	from {
		transform: translate(0, 1000%) rotateX(-45deg);
	}
	to {
		transform: translate(0, 0) rotateX(-45deg);
	}
}

@keyframes getting {
	from {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}